extends ../../layout.pug
block content

    h1 Congrastulation, register process is successful
    h4 Please wait to automatically redirect to homepage or click button below
     
    form(action="/")
        button(type="submit") Click here

    img.home-item(src="userImages/meo.png", alt="")