extends layout.pug
block content   
    #about-content
        h1#about-h1 About
        
        #about-textbox
            .about-textbox-img
                img(class="textbox-img" src='https://i.pinimg.com/736x/ae/ee/04/aeee04e8dd58ad0452441caa381c9d47--reading-aesthetic-book-aesthetic.jpg?fbclid=IwAR2sPsrUKHlKCPfxaskPiz38GF0w0_VpJdCsvfLONeUEnMHZks-PiDbVBD4')
                p The Media Library provides you with access to your personal library of references from your browser, allowing you to keep update books, film and manage your own favourite collection online.
