/*--------------------------------CONTACT - TRAM-------------------------------------------------*/
.contact_content {
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
  /* display: block; */
  /* padding: 20px;
  text-align: center; */
}

.contact_map {
  display: block;
  margin: auto;
  /* width: 80%; */
}

/*--------------------------------BOOKS - TRAM-------------------------------------------------*/
.books_search-tool {
  width: 100%;
}

.books_search {
  margin: 20px 20px 20px 20px;
  width: 60%;
  height: 50px;
  border: 0.5px solid grey;
  border-radius: 15px;
  display: inline-block;
}

.books_search input[type=text] {
  /* float: left; */
  padding: 6px;
  border: 1px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 60%;
}

.books_submit {
  background-color: palevioletred;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* margin: 20px 10px 0px 600px; */
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  width: 20%;
  height: 50px;
}

.books_content {
  width: 100%;
  height: 500px;
  margin: auto;
}

.books_sort {
  width: 100%;
  height: 100px;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.books_sortbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  height: 50px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  float: right;
}

.books_sortbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* #line{
    width: 100%;
    height: 40px;
    margin: 50px 20px 0px 20px;
} */
.books_book {
  width: 24%;
  height: 240px;
  background-color: white;
  color: black;
  border: solid brown 1px;
  border-radius: 10px;
  display: inline-block;
  margin: 0px 1% 1% 0px;
  padding: 10px;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}

.books_book:hover {
  opacity: 0.7;
  color: pink;
}

.books_ima {
  width: 100%;
  height: 140px;
  text-align: center;
}

.books-image {
  width: auto;
  max-height: 100%;
  color: black;
  font-size: 10px;
  font-size: 1.25vw;
  word-wrap: break-word;
}

.books_desc {
  width: 100%;
  background-color: white;
  color: black;
  height: 80px;
  font-size: 10px;
  font-size: 1.25vw;
  word-wrap: break-word;
}

/* .books_buttonnext
{
    margin-top: 50px;
    width: 100%;

}*/
.books_next {
  background-color: palevioletred;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 12px;
  float: right;
  display: block;
  width: 20%;
}

/* Meet the team */
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 550px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card-img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.container2 {
  padding: 0 16px;
}

.container2::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------HOME - CHUONG-------------------------------------------------*/
#home-body {
  border: 5px solid red;
  height: auto;
  height: 1100px;
  width: 1000px;
  margin: 0 auto 0;
  font-family: Sans-serif, "Lucia Console";
}

#home-header {
  display: block;
  position: relative;
  border: 2px solid yellow;
}

#home-content, #home-textbox {
  border-collapse: collapse;
}

#home-content {
  display: block;
  position: relative;
  width: 90%;
  height: 75%;
  border: 1px solid salmon;
  margin-left: auto;
  margin-right: auto;
}

.home-box {
  display: block;
  position: relative;
  margin-top: 20px;
  height: 260px;
  height: 33%;
  width: auto;
  border: 1px solid black;
  padding: 20px;
}

h1#home-h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.home-item {
  display: inline-block;
  position: relative;
  height: 60%;
  width: 20%;
  border: 1px solid yellowgreen;
  margin: 2%;
  text-align: center;
}

#home-footer {
  display: block;
  position: relative;
  border: 2px solid yellow;
}

.mySlides {
  width: 100%;
}

.slide p {
  z-index: 10000;
  font-size: 28px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  width: 80%;
  margin-top: 100px;
  color: black;
  font-family: "Latto";
}

/*--------------------------------ABOUT - CHUONG-------------------------------------------------*/
#about-body {
  border: 5px solid red;
  /*height: auto;*/
  height: 1100px;
  width: 1000px;
  margin: 0 auto 0;
  font-family: Sans-serif, "Lucia Console";
}

.about-textbox-img p {
  text-align: center;
  font-size: 21px;
  padding: 10px;
}

#about-content, #about-textbox {
  border-collapse: collapse;
}

#about-header {
  display: block;
  position: relative;
  border: 2px solid yellow;
}

#about-content {
  display: block;
  position: relative;
  width: 90%;
  height: 75%;
  border: 1px solid salmon;
  margin-left: auto;
  margin-right: auto;
}

#about-textbox {
  display: block;
  position: relative;
  height: 70%;
  width: auto;
  border: 1px solid black;
  padding: 20px;
}

#about-footer {
  display: block;
  position: relative;
  border: 2px solid yellow;
}

#about-h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.book_container {
  margin: 5% 5%;
}

.book-desc_img-wrapper {
  border: 2px solid brown;
  float: left;
  margin: 0 20px 0 0;
}
.book-desc_img-wrapper img {
  max-width: 300px;
}

.book-desc_wrapper {
  margin: 0;
}

.book-desc_row {
  color: brown;
}

/*--------------------------------HEADER - NA-------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

#top-menu li {
  list-style: none;
  display: inline-block;
}
#top-menu li a {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  line-height: 30px;
}

#top-menu-nav {
  padding: 10px 20px 10px 10px;
  background: #b93e3e;
}

#top-menu li a:hover {
  background: #fff;
  color: tomato;
}

#menu-primary li a {
  font-size: 15px;
}

#menu-primary {
  list-style: none;
  display: inline-block;
  right: 30px;
  position: absolute;
}

.night-mode body {
  background-color: #272727;
  color: #ffffff;
}

.night-mode header {
  background-color: #1a1a1a;
}

.night-mode a {
  color: #e5e5e5;
}

button#night-mode {
  background-color: #b93e3e;
  padding: 10px;
  box-shadow: 0px 5px #9b2020;
  border: none;
  border-radius: 2%;
}
button#night-mode:hover {
  opacity: 0.8;
}
button#night-mode:active {
  margin: 1px 0 0 0;
  box-shadow: 0px 2px #9b2020;
  border: none;
}
button#night-mode:focus {
  outline: none;
}
button#night-mode a {
  text-decoration: none;
  font-weight: 900;
  color: white;
}

/*--------------------------------FOOTER - NA-------------------------------------------------*/
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
  background-color: #b93e3e;
  padding: 10px 10px;
  color: #fff;
}

footer i {
  color: #fff;
  margin: 5px;
}

.footer-socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 25px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #b93e3e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.signIn-signUp_heading {
  text-align: center;
  margin: 50px 0 50px 0;
}

/*******************
    * FORM
*******************/
form.signIn-signUp_form {
  margin: 0 25%;
  width: 50%;
  box-sizing: border-box;
}
form.signIn-signUp_form label {
  font-size: 1.6em;
  font-weight: 600;
  display: block;
}
form.signIn-signUp_form label.sign-up_checkbox-label {
  font-size: 1.2em;
  display: inline;
}
form.signIn-signUp_form input[type=checkbox] {
  margin: 0 8px 8px 0;
}
form.signIn-signUp_form input[type=text],
form.signIn-signUp_form input[type=email],
form.signIn-signUp_form input[type=password] {
  width: 100%;
  line-height: 20px;
  height: 50px;
  font-size: 1.5em;
  box-sizing: border-box;
  margin: 0 0 30px 0;
}
form.signIn-signUp_form .signIn-signUp_button {
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 10px 20px;
  margin: 20px 0px 100px;
  background-color: #b93e3e;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1.7em;
  border-radius: 1%;
  box-shadow: 0px 10px #872020;
  box-sizing: border-box;
}
form.signIn-signUp_form .signIn-signUp_button:hover {
  opacity: 0.9;
}
form.signIn-signUp_form .signIn-signUp_button:focus {
  outline: none;
}
form.signIn-signUp_form .signIn-signUp_button:active {
  opacity: 1;
  box-shadow: 0px 2px #872020;
  color: #dedede;
}

/********************
 *SIGN UP - SIGN IN*
*********************/
.header_button-wrapper {
  min-width: 10%;
}
.header_button-wrapper form {
  display: inline-block;
}
.header_button-wrapper button.header_button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #b93e3e;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1em;
  border-radius: 5%;
  box-shadow: 0px 5px #872020;
  border-top: 1px solid #872020;
  border-left: 1px solid #872020;
  border-right: 1px solid #872020;
}
.header_button-wrapper button.header_button:hover {
  opacity: 0.9;
}
.header_button-wrapper button.header_button:focus {
  outline: none;
}
.header_button-wrapper button.header_button:active {
  opacity: 1;
  box-shadow: 0px 2px #872020;
  color: #dedede;
}

/*******************
    log-in
*******************/
.log-in_links {
  text-align: center;
  display: block;
  margin: -45px 0 0px 0;
  font-size: 1.25em;
}

/********************
    AFTER USER LOGIN
********************/
#header_user-wrapper {
  color: white;
  position: absolute;
  top: 70px;
  display: inline-block;
  padding: 10px;
  margin: auto;
}
#header_user-wrapper:hover {
  opacity: 0.8;
  cursor: pointer;
}
#header_user-wrapper h1 {
  display: inline;
  font-size: 1.75em;
  font-weight: 400;
}
#header_user-wrapper img.header_userAvatar {
  display: inline;
  margin: 0px 5px 10px 0;
  max-width: 50px;
  border-radius: 50%;
}
#header_user-wrapper .header_down-arrow {
  max-width: 20px;
  margin: 0 5px 8px 5px;
}

#header_user-logout {
  max-width: 120px;
  background-color: #b93e3e;
}
#header_user-logout form {
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

button.header_button-logout, button.header_user-logout_anchor {
  min-width: 200px;
  padding: 15px 18px;
  background-color: #b93e3e;
  color: white;
  font-weight: 600;
  font-size: 1em;
  border-radius: 1%;
  border: 2px solid white;
  box-shadow: 0px 5px #872020;
}
button.header_button-logout:hover, button.header_user-logout_anchor:hover {
  opacity: 0.9;
}
button.header_button-logout:focus, button.header_user-logout_anchor:focus {
  outline: none;
}
button.header_button-logout:active, button.header_user-logout_anchor:active {
  opacity: 1;
  box-shadow: 0px 2px #872020;
  color: #dedede;
  margin: 1px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
